{
  "plugins": [
    "transform-class-properties",
    "transform-modern-regexp",
    "babel-plugin-styled-components"
  ],
  "env": {
    "storybook": {
      "plugins": [
        "react-docgen"
      ]
    }
  }
}
