{
  "presets": [
    "react",
    "stage-1",
    "env"
  ],
  "env": {
    "storybook" : {
      "plugins": [
        "transform-class-properties",
        "react-docgen"
      ]
    }, 
    "production" : {
      "plugins": [
        "transform-class-properties"
      ]
    }
  }
}
