language: node_js

node_js:
  - 8
  - 6

branches:
  only:
    - master

jobs:
  include:
    - stage: release
      node_js: lts/*

      script: yarn build

      deploy:
        provider: script
        skip_cleanup: true
        script:
          - yarn semantic-release
