.label {
    width: 100%;
    border: 1px solid;
    border-right: 0px;
    border-radius: 0px;
    border-color: var(--qtm-colors-primary-700);
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: var(--qtm-spacing-xxsmall) var(--qtm-spacing-xsmall);
}

.label:first-child {
    border-radius: 4px 0px 0px 4px;
}

.label:last-child {
    border-radius: 0px 4px 4px 0px;
    border: 1px solid var(--qtm-colors-primary-700);
}

.label-checked {
    font-weight: 700;
}