:root {
    --qtm-gutter: 8px;

    --qtm-gutter-xsmall: calc(var(--qtm-gutter) * 2);
    --qtm-gutter-small: calc(var(--qtm-gutter) * 3);
    --qtm-gutter-medium: calc(var(--qtm-gutter) * 3);
    --qtm-gutter-large: calc(var(--qtm-gutter) * 3);

    --qtm-breakpoint-xsmall-columns: 4;
    --qtm-breakpoint-small-columns: 8;
    --qtm-breakpoint-medium-columns: 12;
    --qtm-breakpoint-large-columns: 12;

    --qtm-col-default-size: 12;
    --qtm-col-xsmall-size: 4;
    --qtm-col-small-size: 8;
    --qtm-col-medium-size: 12;
    --qtm-col-large-size: 12;

    --qtm-col-xsmall-offset: 0;
    --qtm-col-small-offset: 0;
    --qtm-col-medium-offset: 0;
    --qtm-col-large-offset: 0;

    --qtm-container-xsmall: 100%;
    --qtm-container-small: 100%;
    --qtm-container-medium: 1024px;
    --qtm-container-large: 1440px;

    --qtm-spacing-xxxsmall: calc(var(--qtm-gutter) * 0.25); /* 2px */
    --qtm-spacing-xxsmall: calc(var(--qtm-gutter) * 0.5);   /* 4px */
    --qtm-spacing-xsmall: calc(var(--qtm-gutter) * 1);      /* 8px */
    --qtm-spacing-small: calc(var(--qtm-gutter) * 1.5);     /* 12px */
    --qtm-spacing-medium: calc(var(--qtm-gutter) * 2);      /* 16px */
    --qtm-spacing-large: calc(var(--qtm-gutter) * 3);       /* 24px */
    --qtm-spacing-xlarge: calc(var(--qtm-gutter) * 4);      /* 32px */
    --qtm-spacing-xxlarge: calc(var(--qtm-gutter) * 5);     /* 40px */
    --qtm-spacing-xxxlarge: calc(var(--qtm-gutter) * 6);    /* 48px */

    --qtm-colors-neutral-0: #ffffff;
    --qtm-colors-neutral-300: #e0e0e0;
    --qtm-colors-neutral-700: #424242;

    --qtm-base-font-size: 16px;

    --qtm-shadow-umbra-opacity: 0.2;
    --qtm-shadow-penumbra-opacity: 0.14;
    --qtm-shadow-ambient-opacity: 0.12;

    --qtm-shadow-umbra-color: rgba(66,66,66, var(--qtm-shadow-umbra-opacity)); /* Color based on --qtm-colors-neutral-700 = #424242 */
    --qtm-shadow-penumbra-color: rgba(66,66,66, var(--qtm-shadow-penumbra-opacity)); /* Color based --qtm-colors-neutral-700 = #424242 */
    --qtm-shadow-ambient-color: rgba(66,66,66, var(--qtm-shadow-ambient-opacity)); /* Color based --qtm-colors-neutral-700 = #424242 */
}
