@import '../../theme.css';

.col {
    word-break: break-word;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@supports (display:grid ) and (min-width: var(--breakpoints-large-width)) {
    .col-md-4 {
        grid-column: span 4 / auto;
    }

    .col-md-8 {
        grid-column: span 8 / auto;
    }
}

@supports (display:grid ) and (min-width: var(--breakpoints-medium-width)) {
    .col-md-4 {
        grid-column: span 4 / auto;
    }

    .col-md-8 {
        grid-column: span 8 / auto;
    }
}

@supports (display:grid ) and (min-width: var(--breakpoints-small-width)) {
    .col-md-4 {
        grid-column: span 12 / auto;
    }

    .col-md-8 {
        grid-column: span 12 / auto;
    }
}

@supports (display:grid ) and (min-width: var(--breakpoints-xsmall-width)) {
    .col-md-4 {
        grid-column: span 12 / auto;
    }

    .col-md-8 {
        grid-column: span 12 / auto;
    }
}