.row {
    display: grid;
    grid-auto-columns: max-content;
}

.no-gutter {
    margin-bottom: 0px !important;
    grid-column-gap: 0px !important;
    grid-row-gap: 0px !important;
}

@media (min-width: 0px) {
    .row {
        margin-bottom: var(--qtm-gutter-xsmall);
        grid-column-gap: var(--qtm-gutter-xsmall);
        grid-row-gap: var(--qtm-gutter-xsmall);
        grid-template-columns: repeat(var(--qtm-breakpoint-xsmall-columns), 1fr);
    }
}

@media (min-width: 600px) {
    .row {
        margin-bottom: var(--qtm-gutter-small);
        grid-column-gap: var(--qtm-gutter-small);
        grid-row-gap: var(--qtm-gutter-small);
        grid-template-columns: repeat(var(--qtm-breakpoint-small-columns), 1fr);
    }
}

@media (min-width: 1024px) {
    .row {
        margin-bottom: var(--qtm-gutter-medium);
        grid-column-gap: var(--qtm-gutter-medium);
        grid-row-gap: var(--qtm-gutter-medium);
        grid-template-columns: repeat(var(--qtm-breakpoint-medium-columns), 1fr);
    }
}

@media (min-width: 1440px) {
    .row {
        margin-bottom: var(--qtm-gutter-large);
        grid-column-gap: var(--qtm-gutter-large);
        grid-row-gap: var(--qtm-gutter-large);
        grid-template-columns: repeat(var(--qtm-breakpoint-large-columns), 1fr);
    }
}