:root {
    --max-items-visibility-autocomplete: 7;
    --item-height-autocomplete: 44px;
    --dropitem-font-size: calc(var(--qtm-base-font-size) * 0.875);
}

.wrapper {
    position: relative;
    color: var(--qtm-colors-neutral-700);
}

.input-wrapper {
    position: relative;
}

.wrapper-dark {
    color: var(--qtm-colors-neutral-0);
}

.input-text {
    margin-top: var(--qtm-spacing-xsmall);
}

.input-icon {
    cursor: pointer;
    position: absolute;
    right: var(--qtm-spacing-medium);
    bottom: calc(var(--qtm-spacing-xsmall) * 1.25);
    width: calc(var(--qtm-base-font-size) * 1.5);
}

.input-error-icon-default {
    color: var(--qtm-colors-error-700);
}

.input-error-icon-dark {
    color: inherit;
}

.polite-status {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.list-suggestions {
    border-radius: 4px;
    box-sizing: border-box;
    list-style: none;
    max-height: calc(var(--item-height-autocomplete) * var(--max-items-visibility-autocomplete));
    overflow: auto;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: var(--qtm-colors-neutral-0);
    margin-top: var(--qtm-spacing-xxsmall);
}

.item-suggestions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    height: var(--item-height-autocomplete);
    color: var(--qtm-colors-neutral-700);
    font-size: var(--dropitem-font-size);
    background-color: var(--qtm-colors-neutral-0);
    padding: var(--qtm-spacing-xsmall) var(--qtm-spacing-medium);
}

.item-suggestions[aria-selected='true'],
.item-suggestions:hover {
    background-color: var(--qtm-colors-neutral-100);
}